
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://necolas.github.io/normalize.css/3.0.2/normalize.css);

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    /*padding: 0 40px;*/
    font: 14px normal 'Varela Round', Helvetica, serif;
    height: 790px;
}

h1 {
    font-size: 20px;
    color: #0B3954;
    text-align: center;
    padding: 15px 0;
    margin-top: 0;
    margin-bottom: 0;
}

.player {
    background: #e6e6e9;
    width: 100%;
    height: 12%;
}

.player-headings {
    background-color: white;
    list-style: none;
    padding: 15px 15px;
        border-top: solid 1px #9999A1;
    margin: 0;
    width: 100%;
}

.player-headings li {
    display: inline-block;
    width: 19%;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    border-top: none;
}

.player-headings li:first-child {
    width: 4%;
    padding-left: 4%;
}

.player-headings li:nth-of-type(2) {
    padding-left: 3%;
}

.player-headings li:nth-of-type(3) {
    padding-left: 5%;
}

.player-headings li:nth-of-type(4) {
    padding-left: 9.7%;
}

.player-headings li:nth-of-type(5) {
    padding-left: 15.4%;
}

#playlist {
    height: 68%;
    overflow: scroll;
}

.track {
    background: #fff;
    width: 100%;
    list-style-type: none;
    padding: 0;
    border-top: 1px solid #D5DDE4;
    margin: 0;
}

.track:last-child {
    border-bottom: 1px solid #D5DDE4;
}

.track li:first-child {
    width: auto;
}

.track li {
    display: inline-block;
    color: #2C3238;
    padding: 15px;
    width: 24%;
    margin: 0;
    text-align: left;
}

.tracknumber {
    display: inline-block;
    width: 14%;
}

.current {
    cursor: pointer;
    background: #E6E6E9;
}

.select {
    cursor: pointer;
    background: #E6E6E9;
}

.fa-play {
    font-size: 0.875em;
    text-align: center;
}

.fa-stop {
    font-size: 0.80em;
    text-align: center;
}

.fa-volume-up {
    color: #FF6663;
    font-size: 0.875em;
    padding-left: 6px !important;
}

.circle {
    border: solid 1px #9999A1;
    width: 25px;
    height: 25px;
    padding-left: 3px;
    padding-top: 5px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.circle:hover {
    cursor: pointer;
}

.player-controls {
    background: #e6e6e9;
    border-top: solid 1px #9999A1;
    /*padding-top: 25px;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
}

#nowplaying {
    width: 35%;
    height: 70px;
    background-color: #fff;
    text-align: center;
    border: solid 2px #9999A1;
    border-radius: 5px;
    margin: 25px auto 10px;
}

.btn-group {
    text-align: center;
    margin-bottom: 10px;
}

button {
    color: #BFD7EA;
    margin: 10px;
    padding: 7px 25px;
    border: none;
    border-radius: 5px;
    background: #0B3954;
    
}

#song-title {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

#song-artist,
#song-album {
    display: inline-block;
}